# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
*.off
*.old
.DS_Store


# eclipse conf file
.settings
.classpath
.project
.manager

build/**/*

# XCode user local
*.xcodeproj/xcuserdata/**/*
*.xcodeproj/project.xcworkspace/**/*
*.xcodeproj/project.xcworkspace/*